* {
    padding: 0;
    margin: 0;
}

body {
    font-family: Arial;
    font-size: 17px;
}

.column {
    float: down;
    width: 33.33%;
    padding: 5px;
  }
  
  /* Clear floats after image containers */
  .row::after {
    content: "";
    clear: both;
    display: table;
  }

.container {
    position: relative;
    max-width: 1440px;
    margin: 0 auto;
}

.container img {
    vertical-align: middle;
}

.container img {
    display: block;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.container .content {
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: center;
    bottom: 10;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1;
    width: 50%;
    padding: 20px;


}

html {
    background-image: linear-gradient(to right,
            #051937,
            #004d7a,
            #008793,
            #00bf72,
            #a8eb12);
}


.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: hsl(0 80% 100% /0.1);
    backdrop-filter: blur(5rem);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    opacity: 0.7;
}


.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: white;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.nav-bar {
    padding: 5rem 2rem 1rem 2rem;
    background: linear-gradient(to right, gray, white);
    margin-bottom: 30px;
}

.logo-nav ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: stretch;
    justify-content: space-between;
    align-items: flex-end;
    gap: 40px;
}

.logo-nav li {
    list-style-type: none;
}

.menu {
    color: white;
}

form.search input[type="text"] {
    padding: 30px;
    font-size: 17px;
    border: 1px solid grey;
    width: 80%;
    background: #f1f1f1;
    border-radius: 0 1px 20px 0;
    border: none;
}

form.search button {
    display: inline;
    width: 20%;
    padding: 30px;
    background: #a2e915;
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-radius: 20px 0 0 1px;
    border: none;
    cursor: pointer;
}

form.search button:hover {
    background: #7cb509;
}

form.search::after {
    content: "";
    clear: both;
    display: table;
}

.fa-user-o,
.fa-phone {
    color: green;
    background-color: inherit;
    padding-bottom: 5px;
}

nav {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: stretch;
}

.registration {
    margin-top: 5px;
}

.registeration-links {
    display: inline;
    color: black;
}

.registration ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
}

.registration ul li {
    padding: 30px;
    list-style-type: none;
    font-size: 1.5rem;

    padding-right: 1.5rem;
    opacity: 1;
    backdrop-filter: blur(20rem);
    border-radius: 30px;
    vertical-align: middle;
    margin-left: 20px;
    transition: 2s;
}

.registration ul li:hover {
    background-color: #a2e915;
    transition: ease;
}

.registration ul li a {
    text-decoration: none;
    color: green;
    text-decoration-color: rgba(0, 0, 255, 0);
    text-underline-offset: 7px;
    text-decoration-thickness: 3px;
    transition: all 0.5s ease-in-out;
}

.registration ul li a:hover {
    text-decoration-color: rgba(0, 0, 255, 1);
}

/* fix this for better look */
/* .registration ul li a::after {
      content: "";
      position: absolute;

      width: inherit;
      border-bottom: 1px solid white;
      transform: scaleX(0);
      transition: transform 0.5s ease;
    }
    .registration ul li a:hover::after {
      transform: scaleX(1);
    }
    .registration ul li a:hover {
      color: black;
    } */

@media (max-width: 1254px) {
    nav {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: space-around;
        align-items: stretch;
        align-content: space-between;
    }

    .logo-nav ul {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: flex-start;
        gap: 40px;
        flex-wrap: wrap;
        align-content: flex-start;
    }

    .registration ul li {
        padding-top: 30px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: flex-end;
    }
}

@media (max-width: 797px) {
    nav {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: space-around;
        align-items: stretch;
    }

    .registration ul li:hover {
        background-color: #7cb509;
        transition: ease;
    }

    .menu-button {
        width: 2rem;
        height: 2rem;
        right: 1%;
        top: 1%;
        background: url(../img/menu.png);
        /* Center and scale the image nicely */
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: absolute;
    }

    .menu-button:hover,
    .menu-button-close {
        cursor: pointer;
    }

    .registration ul {
        position: absolute;
        width: 50vw;
        left: -25rem;

        /* left: -22rem; */
        top: 0;
        transition: ease-out 1s;
    }

    .menu-button-close {
        width: 2rem;
        height: 2rem;
        right: 1%;
        top: 1%;
        background: url(close.png);
        /* Center and scale the image nicely */
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: absolute;
        transition: ease-out;
        display: none;
    }

    .registration ul li {
        backdrop-filter: blur(7rem);
        background-color: transparent;
        border-radius: 3px;
        width: 100%;
        margin: 0;
        align-items: unset;
    }

    .logo-nav ul {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: flex-start;
        gap: 40px;
    }

    .registration ul {
        display: flex;
        flex-direction: column-reverse;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: flex-start;
    }
}


.column {
    float: down;
    width: 25%;
    padding: 5px;
}

.column img {
    opacity: 0.8;
    cursor: pointer;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}